
// FONTS
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// NORMALIZE
@import "~normalize.css/normalize.css";

// INIT
@import "variables";

// INIT
@import "init";

body {
	
}

header{
	padding: 30px;
	position: relative;
	z-index: 1;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.content_logo{

			img{
				width: 264px;
			}
		}
		.content_share{
			font-family: $monserrat;
			font-size: 18px;
			font-weight: 600;
			display: flex;
			justify-content: center;
			align-items: center;

			.comparte{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				p{
					color: #ffffff;
				}
				a{
					color: #ffffff;
					font-size: 20px;
					margin: 0 5px;
				}
				a:hover{
					color: #d6d6d6;
				}
			}
			.separador{
				content: '';
				display: inline-block;
				width: 2px;
				height: 58px;
				background-color: #fff;
				margin: 0 20px;
				vertical-align: middle;
			}

			a.dona{
				border: solid 3px #fac200;
				color: #fac200;
				padding: 14px 20px;
				transition: linear 0.3s;
			}
				a.dona:hover{
					background-color: rgba(250, 194, 0, 0.2);
				}
		}
	}
}

main{
	margin-top: -170px;
	background-image: url(/images/bg_body.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	width: 100%;
	height: auto;

	.home{
		background-image: url(/images/bg_header.png);
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: cover;

		.container{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-height: 100vh;

			.content_home{
				width: 100%;
				margin-top: 10vh;

				.texto_h1{
					display: block;
					background-image: url(/images/deten_esta_persecucion.png);
					background-repeat: no-repeat;
					background-size: auto 100%;
					background-position: center;
					width: 90%;
					height: 29vw;
					max-height: 270px;
					margin: 0 auto;
				}
				p{
					font-family: $monserrat;
					font-size: 24px;
					font-style: italic;
					color: #ffffff;
					text-align: center;
					max-width: 700px;
					width: 80%;
					margin: 0 auto;
					margin-top: 6vh;
					font-weight: 100;
				}
			}
			.mouse_scroll{
				position: absolute;
				bottom: 4vh;
				left: 50%;
				display: block;
				background-image: url(/images/mouse_scroll.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 24px;
				width: 25px;
				height: 45px;
				margin-left: -12px;
				cursor: pointer;
				transition: linear 0.2s;
			}
			.mouse_scroll:before{
				content: '';
				display: block;
				width: 1px;
				height: 30px;
				background-color: rgba(255, 255, 255, 0.5);
				margin: 0 auto;
				margin-top: -40px;
			}
		}
	}

	.datos{
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px 0;

		.content_datos{
			width: 100%;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;

			.datos_info{
				background-color: #666666;
				width: 40%;
				min-height: 78vh;
    			height: auto;
				position: absolute;
				top: calc(-4vh - 15px);
				right: 5vw;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding-bottom: 30px;

				p{
					font-family: $monserrat;
					font-weight: 100;
					font-size: 16px;
					color: #ffffff;
					padding: 20px;
					text-align: justify;

					strong{
						font-weight: 700;
					}
				}
				hr{
					width: calc(100% - 40px);
				}

				.dona{
					background-color: #ffcc00;
					border: solid 2px #ffcc00;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					font-family: "Montserrat", sans-serif;
					text-align: center;
					position: absolute;
					bottom: -57px;
					width: 180px;
					padding: 20px;
					transition: linear 0.3s;

					strong{
						font-weight: 900;
						font-size: 20px;
						color: #2a2a2a;
						margin-bottom: 5px;
					}
					p{
						font-size: 14px;
						color: #2a2a2a;
						padding: 0;
						text-align: center;
					}
				}
				.dona:hover{
					background-color: rgba(250, 194, 0, 0.6);
				}
			}
			.bg_datos{
				background-image: url(/images/bg_datos.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: top right;
				width: 76%;
				height: 70vh;
			}
		}
	}

	.logo_footer{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50vh;

		img{
			width: 264px;
		}
	}
}

footer{
	font-family: $monserrat;
	background-color: #1c1c1c;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 30px;

	a,p{
		font-weight: 500;
		color: #ffffff;
		font-size: 16px;
	}
	a:hover{
		text-decoration: underline;
	}
	a:after,
	p:after{
	    content: '';
	    display: inline-block;
	    width: 2px;
	    height: 16px;
	    background-color: #fff;
	    margin: 0 20px;
	    vertical-align: middle;
	}	
	a:last-child::after{
	    display: none;
	}				
}


@media (max-width: 1024px) {
	main {
		margin-top: -124px;

		.home {

			.container {

				.content_home {

					.texto_h1 {
					}
					p {
						width: 100%;
						font-size: 18px;
						margin-top: 5vh;
					}
				}
				.mouse_scroll {
					position: relative;
					left: inherit;
					bottom: inherit;
					margin-top: 50px;
				}
			}
		}
		.datos {

			.content_datos {
				justify-content: center;
				align-items: center;

				.datos_info {
					position: relative;
					top: inherit;
					right: inherit;
					width: 90%;
					margin: 20px auto;
					height: auto;
					order: 2;

					p {
						padding: 30px;
					}
					hr {
						width: calc(100% - 60px);
					}
				}
				.bg_datos {
					width: 90%;
					margin: 0 auto;
					height: 40vh;
					order: 1;
				}
			}

		}
	}
}

@media (max-width: 860px) {
	footer {
		flex-direction: column;
		a,p{
			margin: 5px 0;
			text-align: center;
		}
		a:after,
		p:after{
			display: none;
		}
	}
}

@media (max-width: 767px) {
	header{
		padding: 20px 0;
		.container {
			flex-wrap: wrap;
			.content_logo {
				img {
					width: 160px;
				}
			}
		}
	}
	main {
		margin-top: -124px;

		.home {

			.container{

				.content_home {

					.texto_h1{
					}
					p {
						width: 100%;
						font-size: 18px;
						margin-top: 5vh;
					}
				}
				.mouse_scroll{
					position: relative;
					left: inherit;
					bottom: inherit;
					margin-top: 50px;
				}
			}
		}
		.logo_footer{

			img{
				width: 220px;
			}
		}
	}
}
@media (max-width: 568px) {
	header{
		.container {
			justify-content: center;
			.content_logo {
				img {
					width: 180px;
				}
			}
			.content_share{
				margin-top: 10px;
				a.dona{
					padding: 12px 12px;
					font-size: 16px;
				}
			}
		}
	}
	main{
		margin-top: -174px;
	}
}
